[Translation]
File=QtopiaServices
Context=Alert
[Service]
Actions = "soundAlert();stopAlert()"
Icon = alarmbell
Name[]=Sound Alarm
[stopAlert()]
Icon = alarmbell
Name[]=Stop alarm
[soundAlert()]
Icon = alarmbell
Name[]=Start alarm
