[Translation]
File=QtopiaServices
Context=DBMigrationEngine
[Service]
Actions = "doMigrate(QDSActionRequest);ensureTableExists(QDSActionRequest)"
Icon = backuprestore/BackupRestore
Name[]=DBMigrationEngine
