[Translation]
File=QtopiaServices
Context=Dialer
[Service]
Actions="dialVoiceMail()"
Icon=Dialer
Name[]=Dialer
[dialVoiceMail()]
Name[]="Call Voicemail"
Icon = phone/voicemail
