[Translation]
File=QtopiaApplications
Context=PowerManagerServices
[Desktop Entry]
Comment[]=Power off GPS chip
Exec=gps-poweroff.sh
Icon=devtools/devtools
Type=ConsoleApplication
Name[]=Power off gps
	
